{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student::School::Management</title> 
    <link href="{% static 'SchoolManagement/images/money.ico' %}" rel="shortcut icon">
    <link href="{% static 'SchoolManagement/images/worker.ico' %}" rel="shortcut icon">
</head>
<link rel="stylesheet" href="{% static 'SchoolManagement/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link rel="stylesheet" href="{% static 'SchoolManagement/css/main.css' %}">
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}"><i class="fa-solid fa-graduation-cap fa-lg"></i> Student Management System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}"><i class="fa-solid fa-bars fa-lg"></i> All Student</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'create_student' %}"><i class="fa-solid fa-user-plus fa-lg"></i> Add Student</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
     <div class="container-fluid">
        {% block content %}
        {% endblock content %}
     </div>
     <div class="container-fluid">
     
     </div>
      <footer class="mt-auto mb-4">
        <div class="text-center">
            <span>
                Copyright &copy; <script>document.write(new Date().getFullYear())</script> Second Project::
            </span>
        </div>
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>